@model Depotakip.Models.Urun

@{
    ViewData["Title"] = "Delete";
}



<h3>Silmek istediğine emin misin?</h3>
<div>
    <h4>Urun</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunAdet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunAdet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunFiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gelistarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gelistarih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunFoto)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Url.Content("~/Image/" + Model.UrunFoto)" asp-append-version="true" width="50" height="50"  />
     
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategori)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategori.KategoriAd)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UrunId" />
        <input type="submit" value="Sil" class="btn btn-danger" /> 
        <a asp-action="Index">Listeye dön</a>
    </form>
</div>
