@model Depotakip.Models.Urun

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Urun</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunAdet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunAdet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunFiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrunFiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gelistarih)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gelistarih)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrunFoto)
        </dt>
        <dd class = "col-sm-10">
            <img src="@Url.Content("~/Image/" + Model.UrunFoto)" asp-append-version="true" width="100" height="100" alt="Reyon Image" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kategori)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kategori.KategoriAd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UrunId">Düzenle</a> |
    <a asp-action="Index">Listeye dön</a>
</div>
