@model Depotakip.Models.Tedarikci

@{
    ViewData["Title"] = "Delete";
}



<h3>Silmek istediğine emin misin?</h3>
<div>
    <h4>Tedarikci</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adres)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adres)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tel)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TedarikciId" />
         <input type="submit" value="Sil" class="btn btn-danger" /> 
        <a asp-action="Index">Listeye dön</a>
    </form>
</div>
